#scontrino{
    width: 384px;
    font-family: serif;
    text-align: center; 
    padding: 1em;
}
p{
    text-align: left;
    line-height: 2; 
    text-align: center; 
    padding-top: 2em;
    font-style: italic;
    font-size: 20px;
}
h1{
    font-weight: 100;
    font-size: 50px;
}
